button{
    vertical-align: center;

}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

#div1{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}